.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #00adb5;
  color: white;
  text-align: center;
  font-size: calc(10px + 2vmin);

  transition: background-color 0.3s;
}

.App-buzzing {
  background-color: #fc3c3c;
}
