.Buzzer img {
  animation: image-spin infinite 10s linear;
}

.Buzzer img.pressed {
  animation: image-scale infinite 0.2s linear;
}

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes image-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
